.container {
	width: 70%;
	margin: auto;
	padding: 30px;
}


.post-image {
	position: relative;
	float: left;
	/*margin: 14px;*/
	left: -100px;
	margin-right: -86px;
}

.post-title {
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-size: 28px;
	font-weight: bold;
}

.post-subtitle {
	font-family: "Lucida Sans Unicode";
	font-size: 20px;
	font-style: italic;
	margin-top: 20px;
}

.post-quote-source {
	font-size: 20px;
	font-family: "Lucida Sans Unicode";
	margin-bottom:20px;
	text-align:  right;
}

.post-content {
	font-family: "Lucida Sans Unicode";
	font-size: 14px;
	text-align: justify;
	text-justify: distribute;
}

.post-date {
	text-align: right;
	font-family: "Lucida Sans Unicode";
	font-size: 12px;
}



