body {
	margin: 0px;
		background-color: #f4f4f4;
}

.header {
	background-color: #444444;
	width: 100%;
	height: 140px;
	font-family: Ubuntu;
	position: relative;
}

.header-content {
	position: absolute;
	bottom: -20px;
	font-size: 100px;
	left: 100px;
	color: white;
	text-shadow: 2px 2px #E4DA22;
}

#navigation-bar {
	position: fixed;
	background-color: #22a3a3;
	height: 50px;
	right: 0px;
	top: 0px;
	width: 40%;
	color: #E4DA22;
	opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  border-bottom-left-radius: 10px;

}

.main {
	background-color: #f4f4f4;
	width: 80%;
	margin: auto;
	margin-top: 20px;
}

#navigation-bar a {
	position: relative;
	margin-right: 10px;
	margin-left:20px;
	top: 10px;
	color: #E4DA22;
	text-decoration: none;
		opacity: 1;
  filter: alpha(opacity=120); /* For IE8 and earlier */
    font-size: 20px;
}

.sidebar {
	position: relative;
	float: left;
	width: 250px;
	/*margin: 14px;*/
	left: -100px;
	background-color: #FFE98F;
	margin-right: -86px;
	padding: 5px;
	border-radius: 10px;
}

.sidebar-title {
	text-align: center;
}

.sidebar-content {
	margin-left: -14px;
	margin-right: 1px;
}

.sidebar-content a {
	color: #22a3a3;
	text-decoration: none;
}

.sidebar-content a.visited {
	color: #22a322;
}